In [2]:
import pandas as pd
import yfinance as yf

In [2]:
from pandas_datareader import data as pdr

yf.pdr_override()
# download dataframe
data = pdr.get_data_yahoo("RELIANCE.NS", start="2017-03-27", end="2022-12-01")

[*********************100%***********************]  1 of 1 completed

In [3]:
df = pd.DataFrame(data)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-03-27,629.582214,633.371277,617.744385,619.676086,601.998352,14976876
2017-03-28,623.093689,626.065552,615.218323,617.026184,599.424072,10017936
2017-03-29,619.973267,624.084290,610.884399,622.425049,604.668884,8733582
2017-03-30,621.607788,631.390076,620.617188,629.359314,611.405334,12858458
2017-03-31,627.056152,662.544739,627.056152,654.248352,635.584351,20947737
...,...,...,...,...,...,...
2022-11-24,2566.000000,2594.000000,2548.199951,2579.100098,2579.100098,4333225
2022-11-25,2589.000000,2624.899902,2582.100098,2617.600098,2617.600098,3391988
2022-11-28,2608.899902,2721.050049,2502.000000,2707.550049,2707.550049,14549929
2022-11-29,2703.949951,2731.649902,2694.000000,2712.199951,2712.199951,5103687
2022-11-30,2712.500000,2745.449951,2698.199951,2731.350098,2731.350098,12075137

In [3]:
nifty50 = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[1]

In [4]:
symbols = nifty50['Symbol'].to_list()

In [5]:
symbols

['ADANIENT',
 'ADANIPORTS',
 'APOLLOHOSP',
 'ASIANPAINT',
 'AXISBANK',
 'BAJAJ-AUTO',
 'BAJFINANCE',
 'BAJAJFINSV',
 'BHARTIARTL',
 'BPCL',
 'BRITANNIA',
 'CIPLA',
 'COALINDIA',
 'DIVISLAB',
 'DRREDDY',
 'EICHERMOT',
 'GRASIM',
 'HCLTECH',
 'HDFC',
 'HDFCBANK',
 'HDFCLIFE',
 'HEROMOTOCO',
 'HINDALCO',
 'HINDUNILVR',
 'ICICIBANK',
 'INDUSINDBK',
 'INFY',
 'ITC',
 'JSWSTEEL',
 'KOTAKBANK',
 'LT',
 'M&M',
 'MARUTI',
 'NESTLEIND',
 'NTPC',
 'ONGC',
 'POWERGRID',
 'RELIANCE',
 'SBIN',
 'SBILIFE',
 'SUNPHARMA',
 'TATAMOTORS',
 'TATASTEEL',
 'TCS',
 'TATACONSUM',
 'TECHM',
 'TITAN',
 'ULTRACEMCO',
 'UPL',
 'WIPRO']

In [7]:

# df_stock = pd.DataFrame(columns=['Symbol','Company name'])
# for i in tickers:
#     df_stock = pd.concat([df_stock,i],axis = 0,ignore_index = True)

In [8]:
# df_stock = df_stock.iloc[1:,:]

In [9]:
# stocks_tickers = list(df_stock['Symbol'].str.replace("NSE:","").str.strip())
# len(stocks_tickers)

In [6]:
for count in range(len(symbols)):
    symbols[count] = symbols[count] + ".NS"

In [7]:
symbols

['ADANIENT.NS',
 'ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BHARTIARTL.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBIN.NS',
 'SBILIFE.NS',
 'SUNPHARMA.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TATACONSUM.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS']

In [8]:
price_data = yf.download('RELIANCE.NS',period='max',)

[*********************100%***********************]  1 of 1 completed

In [9]:
price_data['1996':'2005']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1996-01-01 00:00:00+05:30,15.859429,15.944529,15.754989,15.917452,10.477992,48051995
1996-01-02 00:00:00+05:30,15.878770,15.956133,15.677626,15.793671,10.396508,77875009
1996-01-03 00:00:00+05:30,16.052837,16.783918,15.878770,15.913584,10.475446,96602936
1996-01-04 00:00:00+05:30,15.762726,15.813012,15.553845,15.766594,10.378686,100099436
1996-01-05 00:00:00+05:30,15.704703,15.704703,15.522900,15.658285,10.307389,76935930
...,...,...,...,...,...,...
2005-12-26 00:00:00+05:30,129.969955,130.263947,127.958519,128.840454,113.353065,34403377
2005-12-27 00:00:00+05:30,129.196335,134.596268,128.136459,134.132095,118.008636,38084339
2005-12-28 00:00:00+05:30,134.611740,137.690796,134.302292,134.998566,118.770935,70042777
2005-12-29 00:00:00+05:30,134.302292,138.479904,134.302292,137.876465,121.302917,58712139
2005-12-30 00:00:00+05:30,138.944077,139.385040,136.971313,137.597961,121.057884,31977950

In [10]:
price_data[price_data.columns]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1996-01-01 00:00:00+05:30,15.859429,15.944529,15.754989,15.917452,10.477992,48051995
1996-01-02 00:00:00+05:30,15.878770,15.956133,15.677626,15.793671,10.396508,77875009
1996-01-03 00:00:00+05:30,16.052837,16.783918,15.878770,15.913584,10.475446,96602936
1996-01-04 00:00:00+05:30,15.762726,15.813012,15.553845,15.766594,10.378686,100099436
1996-01-05 00:00:00+05:30,15.704703,15.704703,15.522900,15.658285,10.307389,76935930
...,...,...,...,...,...,...
2023-01-16 00:00:00+05:30,2472.699951,2479.649902,2427.000000,2444.100098,2444.100098,6287407
2023-01-17 00:00:00+05:30,2458.000000,2483.000000,2450.600098,2478.800049,2478.800049,4961585
2023-01-18 00:00:00+05:30,2473.500000,2491.100098,2460.350098,2474.699951,2474.699951,6206382
2023-01-19 00:00:00+05:30,2472.899902,2481.149902,2456.649902,2472.050049,2472.050049,5510333
2023-01-20 00:00:00+05:30,2475.000000,2475.000000,2437.250000,2442.649902,2442.649902,6890325

In [11]:
rel = yf.Ticker("RELIANCE.NS")

In [12]:
rel.info

{'ebitdaMargins': None,
 'profitMargins': None,
 'grossMargins': None,
 'operatingCashflow': None,
 'revenueGrowth': None,
 'operatingMargins': None,
 'ebitda': None,
 'targetLowPrice': 1350,
 'recommendationKey': 'buy',
 'grossProfits': 1722910000000,
 'freeCashflow': None,
 'targetMedianPrice': 2280,
 'currentPrice': 2442.65,
 'earningsGrowth': None,
 'currentRatio': None,
 'returnOnAssets': None,
 'numberOfAnalystOpinions': 29,
 'targetMeanPrice': 2272.1,
 'debtToEquity': None,
 'returnOnEquity': None,
 'targetHighPrice': 2830,
 'totalCash': None,
 'totalDebt': None,
 'totalRevenue': None,
 'totalCashPerShare': None,
 'financialCurrency': 'INR',
 'maxAge': 1,
 'revenuePerShare': None,
 'quickRatio': None,
 'recommendationMean': 2.1,
 'exchange': 'NSI',
 'shortName': 'RELIANCE INDS',
 'longName': 'Reliance Industries Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'RELIANCE.NS',
 'messageBoardId': 'finmb_878373',
 'market': 'in_market',
 'previousClose': 2472.05,
 'regularMarketOpen': 2475,
 'twoHundredDayAverage': 2556.6436,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 2475,
 'navPrice': None,
 'averageDailyVolume10Day': 6150883,
 'totalAssets': None,
 'regularMarketPreviousClose': 2472.05,
 'fiftyDayAverage': 2579.706,
 'trailingAnnualDividendRate': 0,
 'open': 2475,
 'toCurrency': None,
 'averageVolume10days': 6150883,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 2437.25,
 'priceHint': 2,
 'currency': 'INR',
 'trailingPE': 27.972584,
 'regularMarketVolume': 6888527,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 16526945026048,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 4818287,
 'priceToSalesTrailing12Months': None,
 'dayLow': 2437.25,
 'ask': 0,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 6888527,
 'fiftyTwoWeekHigh': 2856.15,
 'forwardPE': 33.99652,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 2180,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 2475,
 'coinMarketCapLink': None,
 'regularMarketPrice': 2442.65,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/RELIANCE.com',
 'trailingPegRatio': None}

In [13]:
print(rel.info['trailingPE'])

27.972584

In [14]:
rel.get_balancesheet()

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
TotalAssets,14996650000000.0,13212120000000.0,11659150000000.0,10024060000000.0
CurrentAssets,3470190000000.0,3730110000000.0,2582600000000.0,2307550000000.0
CashCashEquivalentsAndShortTermInvestments,1529000000000.0,1747420000000.0,1177240000000.0,825020000000.0
CashAndCashEquivalents,335090000000.0,145060000000.0,258030000000.0,38300000000.0
CashFinancial,88200000000.0,88900000000.0,141160000000.0,34910000000.0
...,...,...,...,...
TangibleBookValue,5476870000000.0,5551980000000.0,3065840000000.0,2615680000000.0
TotalDebt,2819740000000.0,2601250000000.0,3449910000000.0,2875050000000.0
NetDebt,2327960000000.0,2373050000000.0,3104910000000.0,2836750000000.0
ShareIssued,6765994014.0,6762068814.0,6399357426.0,6398778301.0
OrdinarySharesNumber,6765994014.0,6762068814.0,6399357426.0,6398778301.0

In [15]:
rel.get_financials()

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
TotalRevenue,6999620000000.0,4669240000000.0,5967430000000.0,5671350000000.0
OperatingRevenue,6999620000000.0,4669240000000.0,5967430000000.0,5671350000000.0
CostOfRevenue,5336130000000.0,3390610000000.0,4514360000000.0,4436640000000.0
GrossProfit,1663490000000.0,1278630000000.0,1453070000000.0,1234710000000.0
OperatingExpense,855870000000.0,736980000000.0,790360000000.0,604040000000.0
SellingGeneralAndAdministration,248690000000.0,196700000000.0,242620000000.0,195920000000.0
GeneralAndAdministrativeExpense,88910000000.0,69920000000.0,121520000000.0,66530000000.0
RentAndLandingFees,5780000000.0,5990000000.0,57930000000.0,41230000000.0
SellingAndMarketingExpense,159780000000.0,126780000000.0,121100000000.0,129390000000.0
OtherOperatingExpenses,420940000000.0,396010000000.0,373090000000.0,266470000000.0
OperatingIncome,807620000000.0,541650000000.0,662710000000.0,630670000000.0
NetNonOperatingInterestIncomeExpense,-19260000000.0,-76060000000.0,-96180000000.0,-104980000000.0
InterestIncomeNonOperating,125290000000.0,103660000000.0,103170000000.0,50160000000.0
InterestExpenseNonOperating,144380000000.0,179070000000.0,198610000000.0,152470000000.0
TotalOtherFinanceCost,170000000.0,650000000.0,740000000.0,2670000000.0
SpecialIncomeCharges,27370000000.0,6760000000.0,-47120000000.0,-630000000.0
RestructuringAndMergernAcquisition,NaN,NaN,44440000000.0,NaN
WriteOff,0.0,1210000000.0,44440000000.0,NaN
OtherSpecialCharges,-27370000000.0,-7970000000.0,47120000000.0,630000000.0
OtherNonOperatingIncomeExpenses,10250000000.0,9580000000.0,14640000000.0,4440000000.0
PretaxIncome,841420000000.0,554610000000.0,536060000000.0,552270000000.0
TaxProvision,162970000000.0,17220000000.0,137260000000.0,153900000000.0
NetIncomeCommonStockholders,607050000000.0,491280000000.0,393540000000.0,395880000000.0
NetIncome,607050000000.0,491280000000.0,393540000000.0,395880000000.0
NetIncomeIncludingNoncontrollingInterests,678450000000.0,537390000000.0,398800000000.0,398370000000.0
NetIncomeContinuousOperations,678450000000.0,537390000000.0,398800000000.0,398370000000.0
MinorityInterests,-71400000000.0,-46110000000.0,-5260000000.0,-2490000000.0
OtherunderPreferredStockDividend,0.0,0.0,0.0,0.0
DilutedNIAvailtoComStockholders,607050000000.0,491280000000.0,393540000000.0,395880000000.0
BasicEPS,92.0,76.37,62.893829,66.192561
DilutedEPS,90.85,75.21,62.893829,66.172749
BasicAverageShares,6598111978.0,6432874848.0,6256889765.0,5980960539.0
DilutedAverageShares,6681652444.0,6532138901.0,6257175880.0,5982387168.0
RentExpenseSupplemental,6260000000.0,7780000000.0,59690000000.0,42950000000.0
TotalExpenses,6192000000000.0,4127590000000.0,5304720000000.0,5040680000000.0
NetIncomeFromContinuingAndDiscontinuedOperation,607050000000.0,491280000000.0,393540000000.0,395880000000.0
NormalizedIncome,574354356000.0,388879070000.0,413665860000.0,377530128000.0
InterestIncome,125290000000.0,103660000000.0,103170000000.0,50160000000.0
InterestExpense,144380000000.0,179070000000.0,198610000000.0,152470000000.0
NetInterestIncome,-19260000000.0,-76060000000.0,-96180000000.0,-104980000000.0
EBIT,985800000000.0,733680000000.0,734670000000.0,704740000000.0
ReconciledCostOfRevenue,5336130000000.0,3390610000000.0,4514360000000.0,4436640000000.0
ReconciledDepreciation,297970000000.0,265720000000.0,222030000000.0,209340000000.0
NetIncomeFromContinuingOperationNetMinorityInterest,607050000000.0,491280000000.0,393540000000.0,395880000000.0
TotalUnusualItemsExcludingGoodwill,40890000000.0,106060000000.0,-26360000000.0,25440000000.0
TotalUnusualItems,40890000000.0,106060000000.0,-26360000000.0,25440000000.0
NormalizedEBITDA,1242880000000.0,893340000000.0,983060000000.0,888640000000.0
TaxRateForCalcs,0.2004,0.0345,0.2365,0.2787
TaxEffectOfUnusualItems,8194356000.0,3659070000.0,-6234140000.0,7090128000.0

In [16]:
rel.get_earnings()

            Revenue      Earnings
Year
2018  4082650000000  360750000000
2019  5692090000000  395880000000
2020  5975350000000  393540000000
2021  4669240000000  491280000000

In [17]:
rel.get_dividends()

Date
1996-05-24 00:00:00+05:30    0.742958
1997-05-16 00:00:00+05:30    0.804871
1998-05-06 00:00:00+05:30    0.866784
1999-05-07 00:00:00+05:30    0.928697
2000-04-06 00:00:00+05:30    0.990610
2001-04-26 00:00:00+05:30    1.052523
2002-10-23 00:00:00+05:30    1.176349
2003-05-23 00:00:00+05:30    1.238263
2004-05-20 00:00:00+05:30    1.300176
2005-05-12 00:00:00+05:30    1.857394
2006-06-01 00:00:00+05:30    2.476525
2007-03-21 00:00:00+05:30    2.724178
2008-05-08 00:00:00+05:30    3.219483
2009-10-16 00:00:00+05:30    3.219483
2010-05-10 00:00:00+05:30    3.467135
2011-05-05 00:00:00+05:30    3.962440
2012-05-31 00:00:00+05:30    4.210093
2013-05-10 00:00:00+05:30    4.457745
2014-05-16 00:00:00+05:30    4.705398
2015-05-08 00:00:00+05:30    4.953050
2016-03-17 00:00:00+05:30    5.200703
2017-07-13 00:00:00+05:30    5.448355
2018-06-27 00:00:00+05:30    5.943660
2019-08-02 00:00:00+05:30    6.438965
2020-07-02 00:00:00+05:30    6.500000
2021-06-11 00:00:00+05:30    7.000000
2022-08-18 00:00:00+05:30    8.000000
Name: Dividends, dtype: float64

In [18]:
rel.get_actions()

                           Dividends  Stock Splits
Date
1996-05-24 00:00:00+05:30   0.742958           0.0
1997-05-16 00:00:00+05:30   0.804871           0.0
1997-10-27 00:00:00+05:30   0.000000           2.0
1998-05-06 00:00:00+05:30   0.866784           0.0
1999-05-07 00:00:00+05:30   0.928697           0.0
2000-04-06 00:00:00+05:30   0.990610           0.0
2001-04-26 00:00:00+05:30   1.052523           0.0
2002-10-23 00:00:00+05:30   1.176349           0.0
2003-05-23 00:00:00+05:30   1.238263           0.0
2004-05-20 00:00:00+05:30   1.300176           0.0
2005-05-12 00:00:00+05:30   1.857394           0.0
2006-06-01 00:00:00+05:30   2.476525           0.0
2007-03-21 00:00:00+05:30   2.724178           0.0
2008-05-08 00:00:00+05:30   3.219483           0.0
2009-10-16 00:00:00+05:30   3.219483           0.0
2009-11-26 00:00:00+05:30   0.000000           2.0
2010-05-10 00:00:00+05:30   3.467135           0.0
2011-05-05 00:00:00+05:30   3.962440           0.0
2012-05-31 00:00:00+05:30   4.210093           0.0
2013-05-10 00:00:00+05:30   4.457745           0.0
2014-05-16 00:00:00+05:30   4.705398           0.0
2015-05-08 00:00:00+05:30   4.953050           0.0
2016-03-17 00:00:00+05:30   5.200703           0.0
2017-07-13 00:00:00+05:30   5.448355           0.0
2017-09-07 00:00:00+05:30   0.000000           2.0
2018-06-27 00:00:00+05:30   5.943660           0.0
2019-08-02 00:00:00+05:30   6.438965           0.0
2020-07-02 00:00:00+05:30   6.500000           0.0
2021-06-11 00:00:00+05:30   7.000000           0.0
2022-08-18 00:00:00+05:30   8.000000           0.0